.container{
    margin:25px 25px 25px 25px;
}

.card{
    margin-left:25px!important;
    margin-right:25px!important;
}

.infected{
    border-bottom:6px solid orangered
}

.deaths{
    border-bottom:6px solid red
}

.recoveries{
    border-bottom:6px solid lightgreen
}